ITD/dream/target/*
ITD/dream/.idea/*
ITD/dream/.jpb/*
ITD/.DS_Store
ITD/design/WEB-INF/lib/byte-buddy-1.12.7.jar
ITD/design/WEB-INF/lib/byte-buddy-agent-1.12.7.jar
ITD/design/WEB-INF/lib/commonj.sdo-2.1.1.jar
ITD/design/WEB-INF/lib/commons-codec-1.11.jar
ITD/design/WEB-INF/lib/commons-lang3-3.11.jar
ITD/design/WEB-INF/lib/commons-logging-1.2.jar
ITD/design/WEB-INF/lib/commons-text-1.9.jar
ITD/design/WEB-INF/lib/eclipselink-2.7.10.jar
ITD/design/WEB-INF/lib/gson-2.8.9.jar
ITD/design/WEB-INF/lib/httpclient-4.5.13.jar
ITD/design/WEB-INF/lib/httpcore-4.4.13.jar
ITD/design/WEB-INF/lib/jakarta.persistence-2.2.3.jar
ITD/design/WEB-INF/lib/json-20211205.jar
ITD/design/WEB-INF/lib/jstl-1.2.jar
ITD/design/WEB-INF/lib/mockito-core-4.3.1.jar
ITD/design/WEB-INF/lib/objenesis-3.2.jar
ITD/design/WEB-INF/lib/standard-1.1.2.jar
ITD/dream/agronomist/home.jsp
ITD/dream/agronomist/login.jsp
ITD/dream/agronomist/register.jsp
ITD/dream/css/basic.css
ITD/dream/css/bootstrap.min.css
ITD/dream/farmer/forum.jsp
ITD/dream/farmer/index.jsp
ITD/dream/farmer/login.jsp
ITD/dream/farmer/newRequest.jsp
ITD/dream/farmer/post.jsp
ITD/dream/farmer/register.jsp
ITD/dream/farmer/report.jsp
ITD/dream/farmer/request.jsp
ITD/dream/farmer/search.jsp
ITD/dream/farmer/suggestion.jsp
ITD/dream/images/agronomist.png
ITD/dream/images/areas/Adilabad.png
ITD/dream/images/areas/Bhadradri.png
ITD/dream/images/areas/Hyderabad.png
ITD/dream/images/areas/Jagtial.png
ITD/dream/images/areas/Jangaon.png
ITD/dream/images/areas/Jayashankar.png
ITD/dream/images/areas/Jogulamba.png
ITD/dream/images/areas/Kamareddy.png
ITD/dream/images/areas/Karimnagar.png
ITD/dream/images/areas/Khammam.jpg
ITD/dream/images/areas/Komarambhem.png
ITD/dream/images/areas/Madchal.jpg
ITD/dream/images/areas/Mahabubabad.png
ITD/dream/images/areas/Mahabubnagar.png
ITD/dream/images/areas/Mancherial.png
ITD/dream/images/areas/Medak.png
ITD/dream/images/areas/Mulugu.png
ITD/dream/images/areas/Nagarkurnool.png
ITD/dream/images/areas/Nalgonda.png
ITD/dream/images/areas/Narayanapet.png
ITD/dream/images/areas/Nirmal.png
ITD/dream/images/areas/Nizamabad.png
ITD/dream/images/areas/Peddapalli.png
ITD/dream/images/areas/Rajanna.png
ITD/dream/images/areas/Rangareddy.png
ITD/dream/images/areas/Sangareddy.png
ITD/dream/images/areas/Siddipet.png
ITD/dream/images/areas/Suryapet.png
ITD/dream/images/areas/telegana.jpg
ITD/dream/images/areas/Vikarabad.png
ITD/dream/images/areas/Wanaparthy.png
ITD/dream/images/areas/Warangal_Rural.png
ITD/dream/images/areas/Warangal_Urban.png
ITD/dream/images/areas/Yadadri.png
ITD/dream/images/farmer.jpeg
ITD/dream/images/policymaker.png
ITD/dream/index.jsp
ITD/dream/js/bootstrap.bundle.min.js
ITD/dream/js/jquery.min.js
ITD/dream/META-INF/MANIFEST.MF
ITD/dream/policymaker/agronomist.jsp
ITD/dream/policymaker/area.jsp
ITD/dream/policymaker/dailyplan.jsp
ITD/dream/policymaker/index.jsp
ITD/dream/policymaker/login.jsp
ITD/dream/policymaker/performance.jsp
ITD/dream/policymaker/register.jsp
ITD/dream/privacystate.html
ITD/dream/terms.html
ITD/dream/WEB-INF/classes/dream.properties
ITD/dream/WEB-INF/classes/in/dream/ejb/external/Fertility.class
ITD/dream/WEB-INF/classes/in/dream/ejb/external/Irrigation.class
ITD/dream/WEB-INF/classes/in/dream/ejb/external/Rainfall.class
ITD/dream/WEB-INF/classes/in/dream/ejb/external/Soil.class
ITD/dream/WEB-INF/classes/in/dream/ejb/external/Weather.class
ITD/dream/WEB-INF/classes/in/dream/ejb/models/Agronomist.class
ITD/dream/WEB-INF/classes/in/dream/ejb/models/Area.class
ITD/dream/WEB-INF/classes/in/dream/ejb/models/Comment.class
ITD/dream/WEB-INF/classes/in/dream/ejb/models/Dailyplan.class
ITD/dream/WEB-INF/classes/in/dream/ejb/models/Farm.class
ITD/dream/WEB-INF/classes/in/dream/ejb/models/Farmer.class
ITD/dream/WEB-INF/classes/in/dream/ejb/models/Forum.class
ITD/dream/WEB-INF/classes/in/dream/ejb/models/Policymaker.class
ITD/dream/WEB-INF/classes/in/dream/ejb/models/Post.class
ITD/dream/WEB-INF/classes/in/dream/ejb/models/Problem.class
ITD/dream/WEB-INF/classes/in/dream/ejb/models/Report.class
ITD/dream/WEB-INF/classes/in/dream/ejb/services/AccountService.class
ITD/dream/WEB-INF/classes/in/dream/ejb/services/DailyPlanService.class
ITD/dream/WEB-INF/classes/in/dream/ejb/services/ForumService.class
ITD/dream/WEB-INF/classes/in/dream/ejb/services/GeospatialDataService.class
ITD/dream/WEB-INF/classes/in/dream/ejb/services/ProblemService.class
ITD/dream/WEB-INF/classes/in/dream/ejb/services/ProductionReportService.class
ITD/dream/WEB-INF/classes/in/dream/ejb/services/SearchService.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/agronomist/Home.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/agronomist/Login.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/agronomist/Register.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/farmer/Comment.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/farmer/Forum.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/farmer/Home.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/farmer/Login.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/farmer/NewRequest.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/farmer/Post.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/farmer/Register.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/farmer/Report.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/farmer/Request.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/farmer/RequestFeedback.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/farmer/Search.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/policymaker/Agronomist.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/policymaker/AgronomistDailyPlan.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/policymaker/Area.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/policymaker/FarmerPerformance.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/policymaker/Home.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/policymaker/Login.class
ITD/dream/WEB-INF/classes/in/dream/web/controller/policymaker/Register.class
ITD/dream/WEB-INF/classes/META-INF/beans.xml
ITD/dream/WEB-INF/classes/META-INF/persistence.xml
ITD/dream/WEB-INF/lib/byte-buddy-1.12.7.jar
ITD/dream/WEB-INF/lib/byte-buddy-agent-1.12.7.jar
ITD/dream/WEB-INF/lib/commonj.sdo-2.1.1.jar
ITD/dream/WEB-INF/lib/commons-codec-1.11.jar
ITD/dream/WEB-INF/lib/commons-lang3-3.11.jar
ITD/dream/WEB-INF/lib/commons-logging-1.2.jar
ITD/dream/WEB-INF/lib/commons-text-1.9.jar
ITD/dream/WEB-INF/lib/eclipselink-2.7.10.jar
ITD/dream/WEB-INF/lib/gson-2.8.9.jar
ITD/dream/WEB-INF/lib/httpclient-4.5.13.jar
ITD/dream/WEB-INF/lib/httpcore-4.4.13.jar
ITD/dream/WEB-INF/lib/jakarta.persistence-2.2.3.jar
ITD/dream/WEB-INF/lib/json-20211205.jar
ITD/dream/WEB-INF/lib/jstl-1.2.jar
ITD/dream/WEB-INF/lib/mockito-core-4.3.1.jar
ITD/dream/WEB-INF/lib/objenesis-3.2.jar
ITD/dream/WEB-INF/lib/standard-1.1.2.jar
ITD/dream/WEB-INF/web.xml
ITD/stub/pip
RASD/UML/~$User Interface.drawio.dtmp
